body {
  display:flex;
  gap:24px;
}

#preview{
  height:600px;
  width:800px;
}
#currentImgPreview{
  width:80px;
  height:auto;
  float:left;
  margin-right:16px;
}


#image-collection{
  border:1px solid black;
}
.imageLibraryPreview{
  width:70px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}



#draggedImage{
  position:fixed;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}

iframe.inactive{
  pointer-events:none;
}
